

.image_size {
    width: 40px !important;
    padding-right: 10px !important;
}

.background_header {
    background: #0094ff !important;
}

nav {
    font-family: "Copperplate", "Copperplate Gothic Light", "fantasy";
}
